<div class="game">
	<div>
		<board #board [board]="gameTreeNode.board" [reverse]="reverse" (makeMove)=makeMove($event)></board>
		<div class="controller">
			<button (click)=goBack()><</button>
			<button (click)=goNext()>></button>
			<span>
				Show Arrow: 
				<input
					type="checkbox"
					[(ngModel)]="isArrowEnabled"
					(change)="chechArrows()"/>
			</span>
			<button (click)=reverseBoard()>Reverse</button>
		</div>
		<game-tag [gameTreeNode]="gameTreeNode"></game-tag>
		<button (click)=onSave()>Save</button>
	</div>
	<move-display [currentTreeNode]="gameTreeNode" (moveEvent)=moveToFromDisplay($event.val) (mouseLeaveEvent)=mouseLeave($event) (mouseEnterEvent)=mouseEnter($event)></move-display>
</div>

