.board {
	display: flex;
	width: fit-content;
	border:2px solid black;
	position: absolute;
	//z-index: -1;
}

.board-dir {
	flex-direction: column-reverse;
}

.board-dir-reverse {
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.row-dir {
	flex-direction: row;
}

.row-dir-reverse {
	flex-direction: row-reverse;
}

.canvas {
	//z-index: 1;
	min-height: 484px;
	min-width: 484px;
	max-height: 484px;
	max-width: 484px;
	opacity: 0.6;
}
